body{
    font-size: 20px
}
@media screen and (min-width: 100px) and(max-width: 250px)
{
body{
    font-size: 10px;
}
}
@media screen and (min-width: 251px) and (max-width:500px)
{
body{
    font-size: 12px;
}
}
@media screen and (min-width: 501px) and (max-width: 750px)
{
    body{
        font-size: 14px;
    }
}
@media screen and (min-width: 751px) and (max-width: 1024px)
{
    body{
        font-size: 16px;
    }
}

.body-class{
    background-color:lightskyblue;
}
.header-class{
    background-color:seashell;
    color:darkblue;
}
.nav-class{
    background-color:cadetblue;
    
}
.bold-class{
    font-weight:bold;
}
.hero-section-class{
    color:blueviolet;
}
.origin-section-class{
    color:deeppink;
}
.testimonial-section-class{
    color:antiquewhite;
}
.text-class{
color:darkslateblue;
}
.image-class{
    color:darkcyan;
    border: 10px solid;

}
.form-class{
padding: 10px;
color: blue;

}
.button-class{
    padding: 10px;
    margin: 10px;
    color:darkcyan;
    border:10px solid;
}
.footer-class{
    background-color: lightslategray;
    color:black;
}




